@font-face {
    font-family: 'yekan';
    src: local('yekan'), url(../fonts/Yekan.ttf) format('truetype');
}

html body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'yekan' !important;
}

.chat{
    display: grid;
    padding: 0;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
            "navbar navbar"
            "messagebox sidebar";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(166,221,223);
    background: linear-gradient(162deg, rgba(166,221,223,1) 20%, rgba(230,235,228,1) 42%, rgba(172,207,140,1) 69%, rgba(169,211,165,1) 88%);
    margin: 1rem 3rem;
    border-radius: 20px;
}
.chat_index{
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
            "navbar navbar"
            "messagebox sidebar";
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(166,221,223);
    background: linear-gradient(162deg, rgba(166,221,223,1) 20%, rgba(230,235,228,1) 42%, rgba(172,207,140,1) 69%, rgba(169,211,165,1) 88%);
    margin: 1rem 3rem;
    border-radius: 20px;
}


.chat__navbar{
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    height: 3rem;
}

.chat__navbar > div:nth-child(3){
    background-color:  #a6dddf;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .3s ease-in-out;
    color: #383838;
    font-weight: bold;
    border-radius: 100px;
    margin-right: 1rem;
    text-align: center;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-items: center;
}
.chat__navbar > div:nth-child(3):hover{
    transform: translateY(-.1rem);
    box-shadow: none;
}

.chat__navbar > div:nth-child(2) >svg{
    height: 2rem;
}

.chat__navbar > div:nth-child(1){
    background-color: #e6ebe4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 100px;
}

.chat__sidebar{
    grid-area: sidebar;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0 20px 20px 0;
    background-color: #F1F4F0;
    margin-bottom: .6rem;
}

.chat__sidebar__channel{
    text-align: center;
    background-color: white;
    padding: 1rem 3rem;
    border-radius: 20px;
}

.chat__sidebar__channel__channeltitle{
    font-weight: bold;

}

.chat__sidebar__channel__channelname{
    font-size: .9rem;
}

.chat__sidebar__users{
    text-align: center;
    border-radius: 20px;
    padding: 1rem 3rem;
    background-color: white;
}

.chat__sidebar__users__usertitle{
    font-weight: bold;
}

.chat__sidebar__users__users{
    list-style: none;
    padding: 0;

}

.chat__messagebox{
    grid-area: messagebox;
    border-radius: 20px 0 0 20px;
    padding: 1rem;
    margin-bottom: .6rem;
    background-color: white;
}

.chat__messagebox_index{
    grid-area: messagebox;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: .6rem;
    background-color: white;
}

.chat__messagebox__login{
    display: flex;
    flex-direction: column;
    width: 100%;


}

.chat__messagebox__login > div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat__messagebox__login > div > label {
    text-align: end;
    margin-right:2rem;
    color: #383838;
    font-weight: bold;
}

.chat__messagebox__login > div > input{
    padding: 1rem;
    margin: 1rem;
    background-color: #e6ebe4;
    border-radius: 100px;
    border:none;
    outline: none;
    text-align: end;
    color: #383838;
    font-weight: bold;
}


.chat__messagebox__messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    overflow-y: auto;
}

.chat__messagebox__messages__message{
    width: 90%;
    border-radius: 10px;
    margin: 1rem 0;
    background-color: #a6dddf;
    text-align: end;
    padding: 1.5rem;
}

.chat__messagebox__messages__senderinfo{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    height: min-content;
}
.chat__messagebox__messages__senderinfo > p{
    margin: 0;
    font-size: 1.2rem;
}

.chat__messagebox__messages__senderinfo > h6{
    margin: 0;
    color: #747373;
    font-weight: bold;
}

.chat__messagebox__messages__message__text{
    margin: 0;
    padding: 1rem 0 0 0 ;
}

.chat__messages__actions{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat__messages__actions__input{
    flex:8;
    padding: 1rem;
    margin: 1rem;
    background-color: #e6ebe4;
    border-radius: 100px;
    border:none;
    outline: none;
    text-align: end;
    color: #383838;
    font-weight: bold;
}

.chat__messages__action__button{
    all: unset;
    background-color: #e6ebe4;
    text-align: center;
    border-radius: 300px;
    cursor: pointer;
    flex: 1;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .3s ease-in-out;
    color: #383838;
    font-weight: bold;
}

.chat__messages__action__button:hover{
    transform: translateY(-.1rem);
    box-shadow: none;
}

/* off elements */
.logoutbuttonoff{
    display: none;
}

.sidebaroff{
    display: none;
}